<h1>Users List</h1>
<p>List of users.</p> 
<% @all_users.each do |user| %>
    <%= link_to user_path(user.id) do %>
        Name: <%= user.name %> <br>
    <% end %>
    Bio: <%= user.bio %> <br>
    PostsCounter: <%= user.posts.count %> <br>
    Image: <img src="<%= user.photo %>" alt="" width="200" height="150" /> <br>
    Image Link: <%= user.photo %> <br> <br>
<% end %>